In [5]:
import pandas as pd

from nltk import sent_tokenize

In [22]:
tdf = pd.read_csv('../working-csvs/fomc_sectioned.csv', index_col=0)

In [23]:
sg = tdf.groupby(['lname', 'date', 'section'])['content'].agg(' '.join).reset_index()

In [25]:
sg['sentences'] = sg['content'].map(sent_tokenize)
sg.drop(['content'], axis=1, inplace=True)
sgs = sg.explode('sentences')
sgs.rename(columns={'sentences': 'content'}, inplace=True)

In [26]:
sgs

,lname,date,section,content
0,bernanke,2002-08-13,1,"Thank you, Mr. Chairman."
0,bernanke,2002-08-13,1,As we search for the signal of an incipient re...
0,bernanke,2002-08-13,1,The first source of noise is the financial mar...
0,bernanke,2002-08-13,1,Our financial markets usually exhibit controll...
0,bernanke,2002-08-13,1,The stock market in particular seems to be sea...
...,...,...,...,...
6701,yellen,2018-01-31,2,Further comments?
6701,yellen,2018-01-31,2,Okay.
6701,yellen,2018-01-31,2,"Well, hearing this discussion, I think my incl..."
6701,yellen,2018-01-31,2,I recognize that there is some risk in doing i...
6701,yellen,2018-01-31,2,So let me ask Jim Clouse to make clear what th...

In [28]:
sgs.reset_index(drop=True)

,lname,date,section,content
0,bernanke,2002-08-13,1,"Thank you, Mr. Chairman."
1,bernanke,2002-08-13,1,As we search for the signal of an incipient re...
2,bernanke,2002-08-13,1,The first source of noise is the financial mar...
3,bernanke,2002-08-13,1,Our financial markets usually exhibit controll...
4,bernanke,2002-08-13,1,The stock market in particular seems to be sea...
...,...,...,...,...
260802,yellen,2018-01-31,2,Further comments?
260803,yellen,2018-01-31,2,Okay.
260804,yellen,2018-01-31,2,"Well, hearing this discussion, I think my incl..."
260805,yellen,2018-01-31,2,I recognize that there is some risk in doing i...
260806,yellen,2018-01-31,2,So let me ask Jim Clouse to make clear what th...

In [29]:
sgs.to_csv('../working-csvs/fomc_sents.csv')